@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/backgroundpattern.png");
    background-repeat: repeat;
    height: 100vh;
}
html {
    font-size: 16px;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    color: #2a1a3b;
}

h1 {
    font-family: "shikamaruregular";
    font-size: 3rem;
    letter-spacing: 0.25rem;
}
h2 {
    font-family: "shikamaruregular";
    font-size: 2.25rem;
    margin-bottom: 1rem;
    width: 100%;
    letter-spacing: 0.25rem;
    line-height: 2.25rem;
}
h3 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    font-family: "robotomedium";
}
h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
hr {
    margin-bottom: 2rem;
}
main {
    /* max-width: 1000px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.5rem 1.5rem; */
    height: 100vh;
}

section {
    flex: 1;
    padding: 0 1.5rem;
    max-width: 78.125rem;
    width: 100%;
}
button.classic {
    margin: 1rem auto 1rem;
    display: inline;
    width: 100%;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: inherit;
    background-color: #0aa9ef;
    color: #fff;
    font-weight: 400;
}
button.classic:hover {
    cursor: pointer;
    background-color: #85d4f7;
}

button.classic:disabled {
    cursor: not-allowed;
    background-color: #b9afbe;
    color: rgb(126, 125, 125);
}
/* --- scrollbar --- */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #0aa9ef;
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background: #b9afbe;
    border-radius: 2rem;
    margin: 2px 0;
}

*::-webkit-scrollbar-thumb {
    background-color: #0aa9ef;
    border-radius: 20px;
    /* border: 3px solid #2a1a3b; */
    cursor: pointer;
}

/* --- HEADER --- */

.shroud {
    position: fixed;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    inset: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

header {
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 1px solid #000;
    padding: 1.5rem;
    background-color: #fff;
    position: relative;
}
div.header {
    max-width: 78.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.settings {
    width: 1.5rem;
}
.settings:hover {
    cursor: pointer;
}
.burerMenuIcon {
    width: 35px;
    height: 35px;
    visibility: hidden;
}
.menuClose {
    visibility: hidden;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.navUser,
.navLinks {
    display: flex;
    align-items: center;
}

.navGap {
    gap: 1rem;
}

header section {
    display: flex;
    flex-direction: column;
}

nav.menu a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: inherit;
}

nav.menu a:hover {
    text-decoration: underline;
}
.friendsLink {
    position: relative;
}

.friendsIndicator {
    width: fit-content;
    height: 1.5rem;
    text-align: center;
    position: absolute;
    background-color: #c01f52;
    font-size: 0.75rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    top: -1.25rem;
    right: -1rem;
    display: flex;
    align-items: center;
}

/* --- WELCOME --- */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10%;
}

.welcomeLogo {
    max-width: 300px;
}

/* --- MODAL --- */

.closeButton {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.49);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: inherit;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal {
    background-color: #fff;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    position: fixed;
    /* top: calc(50% - 10rem); */
    /* top: calc(var(--variable-top) + 20px);
    left: calc(50% - 250px); */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}
.modal form {
    width: 100%;
}
input[type="file"]:valid {
    border: none;
    background-color: #b9afbe;
    border-radius: 1rem;
    color: #fff;
    margin-top: 1rem;
}
label .imgPreview {
    display: inline;
    /* max-width: 400px;
    max-height: 400px; */
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-bottom: 1rem;
    -webkit-box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.54);
    box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.54);
}
.classic.newAvatarButton {
    margin: 1rem auto 5rem;
}
/* --- FRIENDS MODAL --- */
.friendModal {
    visibility: hidden;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
}
.friendModal.active {
    visibility: visible;
}
/* --- USER PROFILE --- */
.addMe {
    width: 100%;
}
.profile {
    display: flex;
    gap: 2rem;
    position: relative;
}

.profileCard {
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* -------------------------- classic */
/* .profile button {
    margin: 0.5rem 0;
    width: 100%;
} */

img.user_img {
    width: 100%;
    margin-bottom: 2rem;
}
.circle {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.bioText {
    margin-bottom: 2rem;
    white-space: pre-wrap;
}

form.bio {
    max-width: 100%;
    background: none;
    margin-bottom: 0;
}
.classic.edit {
    width: 100%;
}
.showFriends {
    margin-bottom: 2rem;
    cursor: pointer;
}
.showFriends:hover {
    text-decoration: underline;
}
textarea {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    resize: none;
    height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #b9afbe;
}
/* --- WALL --- */
.messageWall {
    width: 100%;
}
.messageWall button {
    width: fit-content;
    padding: 0.25rem 1rem;
}
.wallImg {
    width: 3rem;
    height: 3rem;
}
.wallInsertForm {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    margin-bottom: 3rem;
}
.wallInsertDiv {
    display: flex;
}
textarea.wallInsert {
    height: fit-content;
    resize: none;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 1rem 2rem 1rem 1rem;
    margin-left: 1rem;
}
.wallInsertForm button[type="submit"] {
    align-self: end;
    width: fit-content;
    margin: 0;
}

.wallList {
    list-style: none;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
}
.wallSenderBlock {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.wallSender {
    margin-left: 1rem;
    display: inline-block;
}
.wallDate {
    font-size: 0.75rem;
}
.wallMessageBox {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 1rem;
    white-space: pre-wrap;
}
/* aside.EmojiPickerReact.epr-main {
    position: absolute;
    right: 0;
} */
/* --- --- */

.friendPreview {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.friendPreviewImg {
    max-width: 4rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
}
.friendPreview li a {
    margin: 0;
}
/* --- FRIENDS ---
.friendsOverview{
    
} */

/* --- FIND USER ---- */

.findUser {
    width: 100%;
    max-width: 78.125rem;
}
.findUser ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-rows: auto;
    list-style-type: none;
}
.findUser li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 3rem; */
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
}

.findUser li a:hover {
    text-decoration: wavy;
}

.findUser li img {
    width: 13rem;
    margin-bottom: 1rem;
}

.findUser input,
.findUser input:valid {
    background-color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid #b9afbe;
}
/*  --- FRIENDS --- */
ul.userView {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-template-rows: auto;
    gap: 2rem 2rem;
    margin-bottom: 4rem;
}

.userView a {
    margin-bottom: 1rem;
    color: inherit;
    text-decoration: none;
}

.userView li {
    font-family: "robotomedium";
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.15);
}
.userView li img {
    display: inline-block;
    width: 10rem;
    margin-bottom: 1rem;
}

.userView li button {
    margin-top: 1rem;
    font-size: 1rem;
}

/* -------------------------------------------------------- */
.userView button {
    margin: 0;
    width: 100%;
}
button.accept {
    background-color: #2a1a3b;
}

ul.wannebe {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1rem 0;
}

.wannebe li {
    flex: 0 0 auto;
}

/* --- FORM --- */

form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #fff;
}

.formStyle {
    border: 2px solid #b9afbe;
    /* outline: 0.5rem solid #fff; */
    padding: 3rem;
    border-radius: 2rem;
}

form .classic {
    width: 100%;
}
form a,
form a:visited {
    text-decoration: transparent;
    color: inherit;
    text-align: center;
}
form a:hover {
    text-decoration: underline;
}
/* --- INPUT + LABEL --- */

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    /* -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset; */
    transition: background-color 5000s ease-in-out 0s;
}
/* --------------------------------------- */
div.form-input {
    position: relative;
    width: 100%;
}
label {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    transition: 0.2s all ease;
}
input {
    width: 100%;
    font-size: inherit;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #2a1a3b;
    margin-bottom: 0.75rem;
    background: transparent;
}

input:focus + label,
input:valid + label {
    top: -0.5rem;
    left: 0;
    font-size: 0.75rem;
}
input:valid + label {
    color: #0aa9ef;
}

input:focus,
input:valid {
    outline: none;
}

input:valid {
    border-bottom: 2px solid #0aa9ef;
}

input:invalid {
    color: #ff2c5f;
    border-bottom: 2px solid#FF2C5F;
}

input:invalid + label {
    color: #ff2c5f;
}

.logo {
    height: 4rem;
}
.error {
    color: red;
}

/* --- CHAT --- */
.chat {
    width: fit-content;
    margin: auto;
}
.chat ul {
    width: 20rem;
    height: 30rem;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #b9afbe;
    padding: 1rem;
    list-style: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
li.chatList {
    margin-top: 1rem;
}

li.chatList a {
    margin-bottom: 0;
}

.chatSender,
.chatDate {
    padding-left: 5rem;
    font-size: 0.75rem;
}
.chatMe,
.chatDateMe {
    font-size: 0.75rem;
    padding-right: 1rem;
    text-align: right;
}
.chatblock {
    display: flex;
    column-gap: 1rem;
}
.chatblockMe {
    justify-content: flex-end;
}
.chatMsgMe {
    background-color: #9dd9f3;
    white-space: pre-wrap;
}
.chatMsgYou {
    background-color: #fed5e4;
    white-space: pre-wrap;
}
.chatMsg {
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.chatInsert {
    padding: 1rem;
    border: 1px solid #b9afbe;
    resize: none;
    margin: 0;
    background-color: #fff;
}
.chatInsertForm {
    position: relative;
    background-color: transparent;
}
.emojiButton {
    display: inline;
    position: absolute;
    top: 2rem;
    right: 1rem;
    border: none;
    background: transparent;
    font-size: inherit;
    cursor: pointer;
}

.chatAvatar {
    width: 3rem;
    height: 3rem;
}

.chat button.classic {
    margin: 1rem auto 0;
}
/* --- footer --- */
footer {
    padding: 1.5rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

@media screen and (max-width: 992px) {
    .profileCard {
        width: fit-content;
        position: relative; /* Safari */
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    .modal {
        width: 80%;
        height: 100%;
        top: 50%;
        overflow-y: scroll;
    }
    .friendModal {
        height: 100%;
        width: 100%;
    }
    .menuClose {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
        background: transparent;
    }
    nav.menu {
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: fixed;
        align-items: flex-start;
        background-color: #fff;
        padding: 2rem;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 1s;
        z-index: 2;
    }
    nav.active {
        transform: translateX(0);
    }
    .navLogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burerMenuIcon {
        visibility: visible;
    }
    .navUser {
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    .navLinks {
        flex-direction: column;
        align-items: flex-start;
    }
    .friendsIndicator {
        top: 0;
        right: -2rem;
    }
    .logout {
        margin-top: 2rem;
    }
    .formStyle {
        padding: 2rem;
    }
}
@media screen and (max-width: 576px) {
    .profile {
        flex-direction: column;
    }
    .profileCard {
        width: 100%;
    }
}
