* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: ghostwhite;
}
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5rem 1.5rem;
}
section header {
    width: 1000px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

section.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.welcome .logo {
    width: 300px;
}

section.modal {
    background-color: bisque;
    padding: 3rem;
    z-index: 1;
    height: 500px;
    width: 500px;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    -webkit-box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.39);
}
section.modal form {
    width: 100%;
}

section.profile {
    display: flex;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
form label {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
}
.error {
    color: red;
}
img.user_img {
    width: 300px;
    height: 300px;
    margin-right: 2rem;
}
.circle {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.bioText {
    margin-bottom: 2rem;
}

textarea {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li img {
    width: 15rem;
}
