*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: ghostwhite;
}
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section header {
    width: 1000px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.welcome .logo{
    width: 300px;
}

section.modal{
    background-color: bisque;
    padding: 3rem;
    z-index: 1;
    height: 500px;
    width: 500px;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}

h1{
    font-size: 3rem;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
}
form label{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100px;
}
.error{
    color: red;
}